/* color
#393E41
#D3D0CB
#E7E5DF
*/
body {
    background-color: #E7E5DF;
    font-family: Arial, Helvetica, sans-serif;
    color: #393E41;
}
div {

} 
.bold {

    padding: 10px;
    /*margin-left: 100px;
    margin-right: 100px;*/
    text-align: center;

}
.flex {
    flex: auto;
    
}
.btns {
    height: 500px;
    display: flex;
}
.rps-btn {
    width: 50px;
    height: 90px;
    background-color: #D3D0CB;
    border: 3px #393E41;
    margin: 70px;
    border-style: solid;
    text-align: center;
    vertical-align: center;
    border-radius: 10px;
    border-width: 0 3px 3px 0;
    cursor: pointer;
}
.bg {
    background-color: #D3D0CB;
    border-bottom: 3px #393E41;
    border-style: solid;
    border-width: 0 0 3px 0;
}
.title {
    border: none;
    border-top: 3px #393E41;  
    border-width: 3px 0  0;
    border-style: solid;
    display: flex;
    align-content: center;    
    padding: 10px;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 0px;
    margin-top: 0px;
}
.result, .score { 
    
    text-align: left;
    padding-left: 15px;
}